/* 
color Pallates
Gray 1 : #D9D9D9
Gray 2 : #F5F5F5
Gray 3 : #E8E8E8
Purple 1: #69369E
Purple 2: #7951A8

*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   
    }

 /* Media Queries for Responsive Design*/
@media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
 @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
@media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
 @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
 @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media only screen and (max-width: 75em) {
      .form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .form {
        width: 100%; } }
 @media only screen and (max-width: 56.25em) {
      .composition__photo {
        display: none; }
    }
  @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          display: none; }
      }
  @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          display: none; }
      }
@media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
         display: none;  }
     }
 @media only screen and (max-width: 56.25em) {
        .showcase {
         padding: 0;  }
     }
@media only screen and (max-width: 56.25em) {
        .hero-heading-1 {
         display: block;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: .1rem; }
     }




 /* Media Queries for Responsive Design*/
    .clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
   /*  Custom CSS Grid Settings*/
/*Basic Grid Styles*/
.wrapper {
    max-width: 1400px;
}
/*  Custom CSS Grid Settings END*/
/*  KeyFrames Animations Settings*/
@-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)  rotate(-15deg);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0 rotate(-15deg));
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%) rotate(-15deg);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0) rotate(-15deg);
    }
    } 
  

    /* Right Side Image */
    @-webkit-keyframes slideInRight {
        0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%) rotate(15deg);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0) rotate(15deg);
        }
        }
        @keyframes slideInRight {
        0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%) rotate(15deg);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0) rotate(15deg);
        }
        }
  
  
/*  KeyFrames Animations Settings End*/

body{

 font-family: 'Lato', sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.74rem;
      animation-name: moveInRight;
      animation-duration: 1s; }
  
  .heading-secondary {
    font-size: 2rem;
    text-transform:capitalize;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #69369E;
    border-bottom: 1px solid #69369E;

    }
  
.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase; }
    .u-center-text {
        text-align: center !important; }
      
      .u-margin-bottom-big {
        margin-bottom: 8rem !important; }
      
      .u-margin-bottom-medium {
        margin-bottom: 4rem !important; }
      
      .u-margin-bottom-small {
        margin-bottom: 1.5rem !important; }
      
      .u-margin-top-big {
        margin-top: 8rem !important; }
      
      .u-margin-top-huge {
        margin-top: 10rem !important; }
.hero{
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #D9D9D9;
    background-size: cover;
   background-position: top;
   overflow:  hidden;
  
    
}
.main-nav{
    font-size: 1.4rem;
    text-decoration: none;
    color: #69369E;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #69369E;

}
.main-nav a:link,
.main-nav a:active,
.main-nav a:visited{
    font-size: 1.4rem;
    text-decoration: none;
    color: #69369E;
}
.logo{
    height: 6.2rem ;
    text-align: center !important;
    width: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.heading-hero{
    text-align: center !important;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-heading-1{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .2rem;
   /* animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; 
    */
}
.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-block;
    border-radius: .2rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    background-color:  #69369E;
    color: black;
 }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
.hero-heading-2{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .4rem;
}
.img-wheel-1{
    display: block;
    position: absolute;
    top: 30%;
    left: 3%;
    width: 15rem;
    height: auto;
    border-radius: 10px;
    
    -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  animation-duration: 1s ;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   
}
.img-web{
    display: block;
    position: absolute;
    bottom: 10%;
    right: 3%;
    width: 15rem;
    height: auto;
    border-radius: 10px;
    
    -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  animation-duration: 1s ;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Grid System*/

.row {
    max-width: 114rem;
    margin: 0 auto; }
    .row:not(:last-child) {
      margin-bottom: 8rem; }
    .row::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 6rem; }
    .row .col-1-of-2 {
      width: calc((100% - 6rem) / 2); }
    .row .col-1-of-3 {
      width: calc((100% - 2 * 6rem) / 3); }
    .row .col-2-of-3 {
      width: calc(
   2 * ((100% - 2 * 6rem) / 3) + 6rem); }
    .row .col-1-of-4 {
      width: calc((100% - 3 * 6rem) / 4); }
    .row .col-2-of-4 {
      width: calc(
   2 * ((100% - 3 * 6rem) / 4) + 6rem); }
/* About */
.about-section{
    background-color:  #F5F5F5;
    background-size: cover;
    padding: 5%;
    position: relative;

}
.about-heading{
    color:#69369E ;
    border-bottom: 1px solid #69369E;
    display:inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-align: center !important;
}
.about-para{
    padding-top: 3rem;
    padding-left: 7%;
    font-size: 1.5rem;
}
.img-r{
    height: 15rem;
    width: auto;
    float: right;
    padding-right: 5%;
    border-radius: 3px;
}
.circle-shape-example .curve { 
    height: 20rem;
    width: auto;
    min-width: 150px;
  float: right;
  margin-right:10rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle(50% at 50% 50%);
  }
.cap-text{
    margin-left: 30%;
}

/* why-me Section */
 .why-me{
    background-color:   #E8E8E8;
    background-size: cover;
    padding:5%;
    position: relative;
 }
.why-heading{
    color:#69369E ;
    border-bottom: 1px  solid #69369E;
    display:inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-align: center !important;
}
 .feature-box {
    font-size: 1rem;
    width: 15.625em;
    height: 25rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    background-color:  #E8E8E8;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: .3s;
    outline: .3rem solid #69369E;
 }
    .feature-box__icon {
        padding-bottom: 3.125em;
      height: 7rem;
      width: auto;
      display: inline-block;
    }
    .feature-box:hover {
        outline: .3rem solid #69369E;
      transform: scale(1.05) translateX(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; 
      transform: translateY(-1.5rem) scale(1.03);
     }
     .side-repair{
         padding-left: 15px;
    }

    /* Skill Section */

    /* CSS for Progress Bar*/
    .container{
        width: 20rem;
        height: auto;
      }
      @keyframes load{
        from {
          width: 0%
        }
      }
      @-webkit-keyframes load{
        from {
          width: 0%
        }
      }
      @-moz-keyframes load{
        from {
          width: 0%
        }
      }
      @-o-keyframes load{
        from {
          width: 0%
        }
      }
      .img{
          width: 100px;
          height: 100px;
      }
      
      .bar{
        background-color:rgb(177, 177, 177);
        padding: 2px;
        border-radius: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #FFF;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      }
      .bar::before{
        content:  attr(data-skill);
        background-color: #f3b0ff;
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        -o-animation: load 2s 0s;
      }
      
      .bar.beginner::before{
        background-color:  #8e69b5;
      }
      .bar.advance::before{
        background-color:  #36006e;
      }
      .bar.medium::before{
        background-color:  #6702de;
      }
      
      .bar.learning::before{
        width: calc(20% - 10px);
      }
      .bar.basic::before{
        width: calc(40% - 10px);
      }
      .bar.intermediate::before{
        width: calc(60% - 10px);
      }
      .bar.advanced::before{
        width: calc(80% - 10px);
      }
      .bar.expert::before{
        width: calc(100% - 10px);
      }
      /* Progress Bar End */
    .skills-section{
        background-color:  #F5F5F5;
        background-size: cover;
        padding:  5%;
        position: relative;
    }
    .skill-img{
        width: 20rem;
        height: auto;
        padding-top: 10%;
        border-radius: 50%;
    }

    /* ShowCase Section*/

   .showcase{
    background-color:   #E8E8E8;
    background-size: cover;
    padding:5%;
    
    
   } 

   .project-showcase{
    padding: 0;
}
.img-grid{
    list-style: none;
    width: 100%;
}
.img-grid li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 20%;
}
.project-imgs{
    width: 100%;
    margin: 0;
    overflow: hidden;
    
}
.project-imgs img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: transform 0.5s,opacity 0.5s;
    transition: transform 0.5s,opacity 0.5s,-webkit-transform 0.5s;
}
.project-imgs img:hover{
    opacity: 1;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
}

/* Form Section*/
.form{
    background-color:   #F5F5F5;
    background-size: cover;
    padding:5%;
    position: relative;
    

}
.form-con{
   padding: 5%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #69369E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #7951A8;
  }
  .btn-submit{
    display: block;
  max-width: 300px;
  margin: auto;
  }
  @media only screen and (max-width: 56.25em) {
    .form{
      width: 100%; } 
      .form-con{
   padding: 10%;
}
.form-position{
      padding-top:10%;
      padding-right: 10%;
  }
}


  .form-position{
      padding-top: 5%;
      padding-right: 5%;
  }
  .composition {
    position: relative; 
}
    .composition__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all .2s;
      outline-offset: 1rem; }
      .composition__photo--p1 {
        left: 0;
        top: -2rem; }
      .composition__photo--p2 {
        right: 0;
        top: 2rem; }
      .composition__photo--p3 {
        left: 20%;
        top: 10rem; }
      .composition__photo:hover {
      
        transform: scale(1.05) translateX(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
    .composition:hover .composition__photo:not(:hover) {
      transform: scale(0.95); }
  

      /* Footer */

      .footer {
        background-color: #D9D9D9;
        padding: 5rem 0;
        font-size: 1rem;
    }
        .footer__logo-box {
          text-align: center;
          margin-bottom: 2rem; }
        .footer__logo {
          width: 5rem;
          height: auto; }
        .footer__copyright  {
          padding-top: 2rem;
          padding-bottom: 2rem;
          float: right; 
          color: #333; 
        }
         @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem 0; } }
       @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 3rem; } }
.social-id{
    height: 2rem;
    width : auto;
}  
.icon-social{
    padding-right: 2rem;
    
}
